<h1>New Message</h1>
<form method="POST" action="/new">
    <label for="message-user"></label>
    <input type="text" name="messageUser" id="message-user">
    <label for="message-text"></label>
    <input type="text" name="messageText" id="message-text">
    <button type="submit">Submit</button>
</form>
